# VITE_ADMIN_AUTH_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/prod
# VITE_ADMIN_PROTECTED_API_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/prod
# VITE_DOCTOR_API_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/prod

VITE_ADMIN_AUTH_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/staging
VITE_ADMIN_PROTECTED_API_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/staging
VITE_DOCTOR_API_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/staging
VITE_ADMIN_NEW_API_BASE_URL=https://8m9fgt2fz1.execute-api.us-east-1.amazonaws.com/staging
VITE_LICENSE_API_BASE=https://zkipk0rhd8.execute-api.us-east-1.amazonaws.com/prod
VITE_LICENSE_API_BASE_URL=https://zkipk0rhd8.execute-api.us-east-1.amazonaws.com/prod

VITE_ADMIN_LOGIN_PATH=/admin/login
VITE_ADMIN_UPLOAD_PATH=/api/upload
VITE_ADMIN_REPORT_PATH=/api/report
VITE_ADMIN_REPORTS_PATH=/api/reports
VITE_ADMIN_S3_FILES_PATH=/s3-files
VITE_ADMIN_S3_FILE_CONTENT_PATH=/s3-file-content
VITE_CREATE_DOCTOR_PATH=/api/admin/create-doctor
VITE_ADMIN_GET_DOCTORS_PATH=/api/admin/doctor

VITE_DOCTOR_LOGIN_PATH=/admin/doctor/login
VITE_DOCTOR_REPORTS_PATH=/api/doctor/reports
VITE_DOCTOR_VALIDATE_INVITE_PATH=/doctor/validate-invite
VITE_DOCTOR_SET_PASSWORD_PATH=/doctor/set-password
VITE_DOCTOR_UPLOAD_REVIEWED_PATH=/api/doctor/upload-reviewed

# Support API Routes
VITE_SUPPORT_API_BASE_URL=https://6jhix49qt6.execute-api.us-east-1.amazonaws.com/prod
VITE_SUPPORT_COMPLAINTS_PATH=/support/complaints
VITE_SUPPORT_COMPLAINT_PATH=/support/complaint
VITE_SUPPORT_UPDATE_COMPLAINT_PATH=/support/complaint

# Version API Routes
VITE_VERSION_COMPANY_DETAILS_PATH=/api/version/company-details
VITE_VERSION_DOWNLOAD_PATH=/api/version/download

VITE_LICENSE_ADMIN_TOKEN=

VITE_ENABLE_CSP=true
VITE_TOKEN_EXPIRY_CHECK=true
